@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

#about .message-body {
    font-family: "Raleway";
}

#about .message-body p {
    margin: 1.5em 0;
}

#code-walkthrough p {
    margin: 20px 0;
}

.officers img {
    max-width: 150px;
}